<footer id="page-footer">
    <div class="row-one">
        <div class="container">
            <div class="logos">
                <div class="logo">
                    <a href="#"><img src="assets/img/logo-1.png" alt=""></a>
                </div>
                <!--/ .logo-->
                <div class="logo">
                    <a href="#"><img src="assets/img/logo-2.png" alt=""></a>
                </div>
                <!--/ .logo-->
                <div class="logo">
                    <a href="#"><img src="assets/img/logo-3.png" alt=""></a>
                </div>
                <!--/ .logo-->
                <div class="logo">
                    <a href="#"><img src="assets/img/logo-4.png" alt=""></a>
                </div>
                <!--/ .logo-->
                <div class="logo">
                    <a href="#"><img src="assets/img/logo-5.png" alt=""></a>
                </div>
                <!--/ .logo-->
            </div>
            <!--/ .logos-->
        </div>
    </div>
    <!--end row-one-->
    <div class="row-two clearfix">
        <div class="container">
            <div class="copyright pull-left">(C) 2016 오다주웠다, All Rights Reserved</div>
        </div>
        <div class="bg-transfer"><img src="assets/img/footer-bg.jpg" alt=""></div>
    </div>
    <!--end row-two-->
</footer>
<!--end page-footer-->
