<div class="sidebar">
    <div class="box filter">
        <form id="form-filter" class="labels-uppercase">
            <!--end form-group-inline-->
            <div class="wrapper">
              <section>
                  <h3>성별</h3>
                  <ul class="checkboxes">
                        <li class="checkbox-inline no_indent"><label><input type="checkbox" name="gender_man">남자</label></li>
                        <li class="checkbox-inline no_indent"><label><input type="checkbox" name="gender_woman">여자</label></li>
                  </ul>
                    <!--end checkboxes-->
                </section>
                <!--end gender-->
              <section>
                <h3>가격대</h3>
                <ul class="checkboxes">
                    <li class="checkbox-inline no_indent"><label><input type="checkbox" name="mon_0by5">~0.5</label></li>
                    <li class="checkbox-inline no_indent"><label><input type="checkbox" name="mon_5by10">0.5~1</label></li>
                    <li class="checkbox-inline no_indent"><label><input type="checkbox" name="mon_10by50">1~5</label></li>
                    <li class="checkbox-inline no_indent"><label><input type="checkbox" name="mon_50by100">5~10</label></li>
                    <li class="checkbox-inline no_indent"><label><input type="checkbox" name="mon_100">10~</label></li>
                </ul>
                <div id="slider-range"></div>
              </section>
              <!-- end pricebar -->
              <section>
                  <h3>연령대</h3>
                  <ul class="checkboxes">
                      <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_0">유아 </label></li>
                      <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_10">10대</label></li>
                      <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_20">20대</label></li>
                      <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_30">30대</label></li>
                      <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_40">40대</label></li>
                      <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_50">50대</label></li>
                      <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_60">60대이상</label></li>
                  </ul>
                  <!--end checkboxes-->
              </section>
              <!--end age-->
              <section>
                  <h3>기념일</h3>
                  <ul class="checkboxes">
                      <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_love">연인</label></li>
                      <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_friend">친구</label></li>
                      <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_family">가족</label></li>
                      <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_teacher">스승</label></li>
                      <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_birthday">생일</label></li>
                      <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_enemy">원수</label></li>
                  </ul>
                  <!--end checkboxes-->
              </section>
              <!--end anniversary-->
            </div>
            <!--end filter-->
            <div class="form-group center">
                <button type="submit" class="btn btn-primary btn-rounded form-control">Search</button>
            </div>
        </form>
        <!--end form-filter-->
    </div>
    <!--end filter-->
</div>
<!--end sidebar-->
