<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/css/zabuto_calendar.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">

    <link rel="stylesheet" href="assets/css/bootstrap-rtl.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/datapicker.css" type="text/css">
    <link rel="stylesheet" href="assets/css/jquery.datapick.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
</head>

<body>
<div class="page-wrapper">
    <div id="page-header">
        <header>
            <!--end container-->
            <hr>
            <div class="container">
                <div class="primary-nav">
                    <div class="left">
                        <a href="index.html" id="brand"><img src="assets/img/logo.png" alt=""></a>
                        <a class="nav-trigger" data-toggle="collapse" href="#primary-nav" aria-expanded="false" aria-controls="primary-nav"><i class="fa fa-navicon"></i></a>
                    </div>
                    <!--end left-->
                    <div class="right" >
                        <nav id="primary-nav">
                            <ul>
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li>
                                    <a href="#" class="has-child">Listing</a>
                                    <ul class="child-nav">
                                        <li><a href="listing.html">List Listing</a></li>
                                        <li><a href="listing-matrix.html">Matrix Listing</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-child">Pages</a>
                                    <ul class="child-nav">
                                        <li><a href="404.html">404</a></li>
                                        <li>
                                            <a href="#" class="has-child">Admin</a>
                                            <ul class="child-nav">
                                                <li><a href="edit.html">Edit Accommodation</a></li>
                                                <li><a href="my-accommodations.html">My Accommodations</a></li>
                                                <li><a href="profile.html">Profile</a></li>
                                                <li><a href="reservations.html">Reservations</a></li>
                                                <li><a href="reviews.html">Reviews</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="detail.html">Accommodation Detail</a></li>
                                        <li><a href="become-an-affiliate.html">Become an Affiliate</a></li>
                                        <li>
                                            <a href="#" class="has-child">Blog</a>
                                            <ul class="child-nav">
                                                <li><a href="blog.html">Blog Listing</a></li>
                                                <li><a href="blog-detail.html">Blog Detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="grid.html">Grid</a></li>
                                        <li><a href="sticky-footer.html">Sticky Footer</a></li>
                                        <li><a href="terms-and-conditions.html">Terms & Conditions</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                                <li class="submit"><a href="submit.html"><span>Submit</span><i data-toggle="tooltip" data-placement="top" title="Submit"><img src="assets/img/plus.png" alt=""></i></a></li>
                            </ul>
                        </nav>
                        <!--end nav-->
                    </div>
                    <!--end right-->
                </div>
                <!--end primary-nav-->
            </div>
            <!--end container-->
        </header>
        <!--end header-->
    </div>
    <!--end page-header-->

        <div class="block">
            <div class="container">
                <div class="title">
                    <h1 class="center">관리자페이지-상품관리</h1>
                </div>
                <!--end title-->
                <div class="">
                    <div class="col-md-9 col-sm-9">
                        <div class="row">
                          <div class="col-md-5 col-sm-1">
                              <!--end item-->
                          </div>
  <!--여기다가-->
                       <table class="table table-striped">
                         <tr>
                         <th>상품명</th>
                         <th>가격</th>
                         <th>수정/삭제</th>
                         </tr>
                       <% @posts.each do |post|%>
                         <tr>
                         <th><%= link_to post.title, post_path(id: post.id)%><</th>
                         <th><%= post.money%></th>
                         <th>
                           <figure class="label label-info">
                           <%= link_to "수정", edit_post_path(post)%>
                           </figure>
                           <figure class="label label-info">
                            <a href="/destroy/<%=post.id%>">삭제</a>
                           </figure>
                         </th>
                         </tr>
                       <% end %>
                       </table>

                       </div>
            </div>
            <!--end container-->
        </div>
        <!--end block-->
        <!--end block-->

            <div class="bg opacity-30">
                <img src="assets/img/bg-map.jpg" alt="">
            </div>
        </div>
        <!--end block-->
        <!--end block-->
        <!--end block-->
    </div>
    <!--end page-content-->

    <footer id="page-footer">
        <div class="row-one">
            <div class="container">
                <div class="logos">
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-1.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-2.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-3.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-4.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-5.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                </div>
                <!--/ .logos-->
            </div>
        </div>
        <!--end row-one-->
        <div class="row-two clearfix">
            <div class="container">
                <div class="copyright pull-left">(C) 2016 Your Company, All Rights Reserved</div>
                <div class="footer-nav pull-right">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">About Us</a>
                    <a href="listing.html">Listing</a>
                    <a href="contact-us.html">Contact Us</a>
                </div>
            </div>
            <div class="bg-transfer"><img src="assets/img/footer-bg.jpg" alt=""></div>
        </div>
        <!--end row-two-->
    </footer>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>



<script type="text/javascript" src="assets/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript" src="assets/js/infobox.js"></script>
<script type="text/javascript" src="assets/js/markerclusterer_packed.js"></script>
<script type="text/javascript" src="assets/js/richmarker-compiled.js"></script>
<script type="text/javascript" src="assets/js/markerwithlabel_packed.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="assets/js/icheck.min.js"></script>
<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="assets/js/maps.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>

<!--[if lte IE 9]>
<script src="assets/js/ie.js"></script>
<![endif]-->

<script>
    var _latitude = 48.47292127;
    var _longitude = 4.28672791;
    var element = "map-item";
    var useAjax = true;
    bigMap(_latitude,_longitude, element, useAjax);
</script>
</body>
