<!DOCTYPE html>

<html lang="en-US">

<body>
<div class="page-wrapper">
    <div id="page-content">
      <div class="container">
          <div class="title">
              <h1 class="center">관리자페이지-상품관리</h1>
          </div>
          <!--end title-->
          <div class="">
              <div class="col-md-9 col-sm-9">
                  <div class="row">
                    <div class="col-md-5 col-sm-1">
                        <!--end item-->
                    </div>
<!--여기다가-->
                 <table class="table table-striped">
                   <tr>
                   <th>상품명</th>
                   <th>가격</th>
                   <th>수정/삭제</th>
                   </tr>
                 <% @posts.each do |post|%>
                   <tr>
                   <th><%= link_to post.title, post_path(id: post.id)%></th>
                   <th><%= post.money%></th>
                   <th>
                     <figure class="label label-info">
                     <%= link_to "수정", edit_post_path(post)%>
                     </figure>
                     <figure class="label label-info">
                      <a href="/destroy/<%=post.id%>">삭제</a>
                     </figure>
                   </th>
                   </tr>
                 <% end %>
                 </table>

                 </div>
      </div>
      <!--end container-->
  </div>
  <!--end block-->
  <!--end block-->

      <div class="bg opacity-30">
          <img src="assets/img/bg-map.jpg" alt="">
      </div>
  </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->

        <!--end container-->
    <!--end page-content-->

</div>
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>

</body>
</html>
