<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/css/zabuto_calendar.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">

    <link rel="stylesheet" href="assets/css/bootstrap-rtl.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/datapicker.css" type="text/css">
    <link rel="stylesheet" href="assets/css/jquery.datapick.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
</head>

<body>
<div class="page-wrapper">
    <div id="page-header">
        <header>
            <!--end container-->
            <hr>
            <div class="container">
              <h2 align="right"><a href="/posts/new" class="btn btn-primary btn-rounded scroll">글쓰러 가기</a></h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="sidebar">
                            <div class="box filter">
                                <form id="form-filter" class="labels-uppercase">
                                    <!--end form-group-inline-->
                                    <div class="wrapper">
                                      <section>
                                          <h3>성별</h3>
                                          <ul class="checkboxes">
                                                <li class="checkbox-inline no_indent"><label><input type="checkbox" name="gender_man">남자</label></li>
                                                <li class="checkbox-inline no_indent"><label><input type="checkbox" name="gender_woman">여자</label></li>
                                          </ul>
                                            <!--end checkboxes-->
                                        </section>
                                        <!--end gender-->
                                      <section>
                                        <h3>가격대</h3>
                                        <ul class="checkboxes">
                                            <li class="checkbox-inline no_indent"><label><input type="checkbox" name="mon_0by5">~0.5</label></li>
                                            <li class="checkbox-inline no_indent"><label><input type="checkbox" name="mon_5by10">0.5~1</label></li>
                                            <li class="checkbox-inline no_indent"><label><input type="checkbox" name="mon_10by50">1~5</label></li>
                                            <li class="checkbox-inline no_indent"><label><input type="checkbox" name="mon_50by100">5~10</label></li>
                                            <li class="checkbox-inline no_indent"><label><input type="checkbox" name="mon_100">10~</label></li>
                                        </ul>
                                        <div id="slider-range"></div>
                                      </section>
                                      <!-- end pricebar -->
                                      <section>
                                          <h3>연령대</h3>
                                          <ul class="checkboxes">
                                              <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_0">유아 </label></li>
                                              <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_10">10대</label></li>
                                              <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_20">20대</label></li>
                                              <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_30">30대</label></li>
                                              <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_40">40대</label></li>
                                              <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_50">50대</label></li>
                                              <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_60">60대이상</label></li>
                                          </ul>
                                          <!--end checkboxes-->
                                      </section>
                                      <!--end age-->
                                      <section>
                                          <h3>기념일</h3>
                                          <ul class="checkboxes">
                                              <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_love">연인</label></li>
                                              <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_friend">친구</label></li>
                                              <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_family">가족</label></li>
                                              <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_teacher">스승</label></li>
                                              <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_birthday">생일</label></li>
                                              <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_enemy">원수</label></li>
                                          </ul>
                                          <!--end checkboxes-->
                                      </section>
                                      <!--end anniversary-->
                                    </div>
                                    <!--end filter-->
                                    <div class="form-group center">
                                        <button type="submit" class="btn btn-primary btn-rounded form-control">Search</button>
                                    </div>
                                </form>
                                <!--end form-filter-->
                            </div>
                            <!--end filter-->
                        </div>
                        <!--end sidebar-->
                    </div>
                    <!--end col-md-3-->
                    <div class="col-md-9">
                        <div class="main-content">
                            <div class="row">


                                <div class="col-md-4 col-sm-6">
                                    <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="1">
                                        <div class="item-wrapper">
                                            <div class="image">
                                                <div class="mark-circle top" data-toggle="tooltip" data-placement="right" title="Top accommodation"><i class="fa fa-thumbs-up"></i></div>
                                                <a href="/detail" class="wrapper" width="345" height="250" align="middle">
                                                    <img src="assets/img/items/sample1.png" alt="">
                                                </a>
                                            </div>
                                            <!--end image-->
                                            <div class="description">
                                                <div class="meta">
                                                    <span><i class="fa fa-star"></i>8.9</span>
                                                    <span><i class="fa fa-file-text-o"></i>365</span>
                                                </div>
                                                <div class="info">
                                                    <figure class="label label-info">운동화</figure>
                                                    <a href="/detail"><h3>NIKE</h3></a>
                                                    <figure class="location">Air Jordan retro6</figure>
                                                </div>
                                            </div>
                                            <!--end description-->
                                            <div class="map-item">
                                                <button class="btn btn-close"><i class="fa fa-close"></i></button>
                                                <div class="map-wrapper"></div>
                                            </div>
                                            <!--end map-item-->
                                        </div>
                                    </div>
                                    <!--end item-->
                                </div>
                                <!--col-md-3-->
                                <div class="col-md-4 col-sm-6">
                                    <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="4">
                                        <div class="item-wrapper">
                                            <div class="image">
                                                <div class="mark-circle top" data-toggle="tooltip" data-placement="right" title="Top accommodation"><i class="fa fa-thumbs-up"></i></div>
                                                <a href="/detail" class="wrapper" width="345" height="250" align="middle">
                                                    <img src="assets/img/items/sample4.jpg" alt="">
                                                </a>
                                            </div>
                                            <!--end image-->
                                            <div class="description">
                                                <div class="meta">
                                                    <span><i class="fa fa-star"></i>9.1</span>
                                                    <span><i class="fa fa-file-text-o"></i>82</span>
                                                </div>
                                                <div class="info">
                                                    <figure class="label label-info">시계</figure>
                                                    <a href="/detail"><h3>SEIKO</h3></a>
                                                    <figure class="location">검정메탈시계</figure>
                                                </div>
                                            </div>
                                            <!--end description-->
                                            <div class="map-item">
                                                <button class="btn btn-close"><i class="fa fa-close"></i></button>
                                                <div class="map-wrapper"></div>
                                            </div>
                                            <!--end map-item-->
                                        </div>
                                    </div>
                                    <!--end item-->
                                </div>
                                <!--col-md-3-->
                                <div class="col-md-4 col-sm-6">
                                    <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="5">
                                        <div class="item-wrapper">
                                            <div class="image">
                                                <div class="mark-circle top" data-toggle="tooltip" data-placement="right" title="Top accommodation"><i class="fa fa-thumbs-up"></i></div>
                                                <a href="/detail" class="wrapper" width="345" height="250" align="middle">
                                                    <img src="assets/img/items/sample5.jpg" alt="">
                                                </a>
                                            </div>
                                            <!--end image-->
                                            <div class="description">
                                                <div class="meta">
                                                    <span><i class="fa fa-star"></i>9.6</span>
                                                    <span><i class="fa fa-file-text-o"></i>14</span>
                                                </div>
                                                <div class="info">
                                                    <figure class="label label-info">상품권</figure>
                                                    <a href="/detail"><h3>CGV</h3></a>
                                                    <figure class="location">영화관람권(2인)</figure>
                                                </div>
                                            </div>
                                            <!--end description-->
                                            <div class="map-item">
                                                <button class="btn btn-close"><i class="fa fa-close"></i></button>
                                                <div class="map-wrapper"></div>
                                            </div>
                                            <!--end map-item-->
                                        </div>
                                    </div>
                                    <!--end item-->
                                </div>
                                <!--col-md-3-->
    <!---디비에서 받은 데이터를 직접 리스트에 띄우는 코드------------------------------------->

                                <% @posts.each do |post|%>

                                <div class="col-md-4 col-sm-6">
                                    <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="6">
                                        <div class="item-wrapper">
                                            <div class="image">
                                                <div class="mark-circle top" data-toggle="tooltip" data-placement="right" title="Top accommodation"><i class="fa fa-thumbs-up"></i></div>
                                                <a href="/detail" class="wrapper" width="345" height="250" align="middle">
                                                    <img src="assets/img/items/sample6.jpg" alt="">
                                                </a>
                                            </div>
                                            <!--end image-->
                                            <div class="description">
                                                <div class="meta">
                                                    <span><i class="fa fa-star"></i>8.9</span>
                                                    <span><i class="fa fa-file-text-o"></i>24</span>
                                                </div>
                                                <div class="info">
                                                    <figure class="label label-info">꽃</figure>
                                                    <h3><%= link_to post.title, post_path(id: post.id)%><br/></h3>
                                                    <figure class="label label-info">
                                                      <%= link_to "수정", edit_post_path(post)%>
                                                    </figure>
                                                    <figure class="label label-info">
                                                      <a href="/destroy/<%=post.id%>">삭제</a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <!--end description-->
                                            <div class="map-item">
                                                <button class="btn btn-close"><i class="fa fa-close"></i></button>
                                                <div class="map-wrapper"></div>
                                            </div>
                                            <!--end map-item-->
                                        </div>
                                    </div>
                                    <!--end item-->
                                </div>
                                <% end %>

    <!--------------------------------------------------------------------------->
                                <!--col-md-3-->
                                <!--col-md-3-->
                                <!--col-md-3-->
                            </div>
                            <!--end row-->
                          </div>
                        </div>
                          <div class="center">
                          <a href="#all-present" class="btn btn-default btn-rounded btn-framed" data-toggle="collapse" aria-expanded="false" aria-controls="all-present">더보기</a>
                          </div>
                          <!--end center-->
                      </div>
                        <!--end main-content-->
                    </div>

            <div class="container">
                <div class="primary-nav">
                    <div class="left">
                        <a href="index.html" id="brand"><img src="assets/img/logo.png" alt=""></a>
                        <a class="nav-trigger" data-toggle="collapse" href="#primary-nav" aria-expanded="false" aria-controls="primary-nav"><i class="fa fa-navicon"></i></a>
                    </div>
                    <!--end left-->
                    <div class="right" >
                        <nav id="primary-nav">
                            <ul>
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li>
                                    <a href="#" class="has-child">Listing</a>
                                    <ul class="child-nav">
                                        <li><a href="listing.html">List Listing</a></li>
                                        <li><a href="listing-matrix.html">Matrix Listing</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="has-child">Pages</a>
                                    <ul class="child-nav">
                                        <li><a href="404.html">404</a></li>
                                        <li>
                                            <a href="#" class="has-child">Admin</a>
                                            <ul class="child-nav">
                                                <li><a href="edit.html">Edit Accommodation</a></li>
                                                <li><a href="my-accommodations.html">My Accommodations</a></li>
                                                <li><a href="profile.html">Profile</a></li>
                                                <li><a href="reservations.html">Reservations</a></li>
                                                <li><a href="reviews.html">Reviews</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="detail.html">Accommodation Detail</a></li>
                                        <li><a href="become-an-affiliate.html">Become an Affiliate</a></li>
                                        <li>
                                            <a href="#" class="has-child">Blog</a>
                                            <ul class="child-nav">
                                                <li><a href="blog.html">Blog Listing</a></li>
                                                <li><a href="blog-detail.html">Blog Detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="grid.html">Grid</a></li>
                                        <li><a href="sticky-footer.html">Sticky Footer</a></li>
                                        <li><a href="terms-and-conditions.html">Terms & Conditions</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                                <li class="submit"><a href="submit.html"><span>Submit</span><i data-toggle="tooltip" data-placement="top" title="Submit"><img src="assets/img/plus.png" alt=""></i></a></li>
                            </ul>
                        </nav>
                        <!--end nav-->
                    </div>
                    <!--end right-->
                </div>
                <!--end primary-nav-->
            </div>
            <!--end container-->
        </header>
        <!--end header-->
    </div>
    <!--end page-header-->

        <div class="block">
            <div class="container">
                <div class="title">
                    <h1 class="center">관리자페이지</h1>
                </div>
                <!--end title-->
                <div class="">
                    <div class="col-md-9 col-sm-9">
                        <div class="row">
                          <div class="col-md-5 col-sm-1">
                              <!--end item-->
                          </div>

                            <div class="col-md-3 col-sm-6">
                                <a href="admin_content.html" class="item small">
                                    <div class="image">
                                        <div class="info">
                                            <figure class="label label-info">GIFT</figure>
                                            <aside>
                                                <h3>상품관리</h3>
                                            </aside>
                                        </div>
                                        <div class="wrapper">
                                            <div class="gallery">
                                                <img src="assets/img/items/gift.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!--end image-->
                                    <!--end description-->
                                </a>
                                <!--end item-->
                            </div>

                        <div class="col-md-3 col-sm-6">
                            <a href="admin_user.html" class="item small">
                                <div class="image">
                                    <div class="info">
                                        <figure class="label label-info">USER</figure>
                                        <aside>
                                            <h3>사용자관리</h3>
                                        </aside>
                                    </div>
                                    <div class="wrapper">
                                        <div class="gallery">
                                            <img src="assets/img/items/user.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!--end image-->
                                <!--end description-->
                            </a>
                            <!--end item-->
                        </div>

                            <div class="col-md-5 col-sm-1">
                                <!--end item-->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a href="master3.html" class="item small">
                                    <div class="image">
                                        <div class="info">
                                            <figure class="label label-info">STATS</figure>
                                            <aside>
                                                <h3>통계</h3>
                                            </aside>
                                        </div>
                                        <div class="wrapper">
                                            <div class="gallery">
                                                <img src="assets/img/items/stats.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!--end image-->
                                    <!--end description-->
                                </a>
                                <!--end item-->
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <a href="master4.html" class="item small">
                                    <div class="image">
                                        <div class="info">
                                            <figure class="label label-info">ETC</figure>
                                            <aside>
                                                <h3>기타</h3>
                                            </aside>
                                        </div>
                                        <div class="wrapper">
                                            <div class="gallery">
                                                <img src="assets/img/items/etc.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!--end image-->
                                    <!--end description-->
                                </a>
                                <!--end item-->
                            </div>
                    </div>
            </div>
            <!--end container-->
        </div>
        <!--end block-->
        <!--end block-->

            <div class="bg opacity-30">
                <img src="assets/img/bg-map.jpg" alt="">
            </div>
        </div>
        <!--end block-->
        <!--end block-->
        <!--end block-->
    </div>
    <!--end page-content-->

    <footer id="page-footer">
        <div class="row-one">
            <div class="container">
                <div class="logos">
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-1.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-2.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-3.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-4.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-5.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                </div>
                <!--/ .logos-->
            </div>
        </div>
        <!--end row-one-->
        <div class="row-two clearfix">
            <div class="container">
                <div class="copyright pull-left">(C) 2016 Your Company, All Rights Reserved</div>
                <div class="footer-nav pull-right">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">About Us</a>
                    <a href="listing.html">Listing</a>
                    <a href="contact-us.html">Contact Us</a>
                </div>
            </div>
            <div class="bg-transfer"><img src="assets/img/footer-bg.jpg" alt=""></div>
        </div>
        <!--end row-two-->
    </footer>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>



<script type="text/javascript" src="assets/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript" src="assets/js/infobox.js"></script>
<script type="text/javascript" src="assets/js/markerclusterer_packed.js"></script>
<script type="text/javascript" src="assets/js/richmarker-compiled.js"></script>
<script type="text/javascript" src="assets/js/markerwithlabel_packed.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="assets/js/icheck.min.js"></script>
<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="assets/js/maps.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>

<!--[if lte IE 9]>
<script src="assets/js/ie.js"></script>
<![endif]-->

<script>
    var _latitude = 48.47292127;
    var _longitude = 4.28672791;
    var element = "map-item";
    var useAjax = true;
    bigMap(_latitude,_longitude, element, useAjax);
</script>
</body>
