<!DOCTYPE html>

<html lang="en-US">
<body>
    <div class="page-wrapper">

        <div id="page-content">
<!---전반적인코드시작-------------------------------------------------------------------------->
<%= form_for @post do |f| %>
<form action="/posts/new" method="POST" enctype="multipart/form-data">
        <div id="page-content">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Listing</a></li>
                    <li class="active">Detail</li>
                </ol>
                <!--end breadcrumb-->
                <div class="main-content">
                    <!--end quick-navigation-->
                    <form action="/posts/new" method="POST" enctype="multipart/form-data">
                        <section id="main-information">
                            <div class="title">
                                <h2>선물정보</h2>
                                <aside class="step">1</aside>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="form-submit-title">선물이름<em>*</em></label>
                                        <input type="text" class="form-control" id="form-submit-title" name="post[title]" placeholder="" required="" value="<%= @post.title%>">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-7-->
                                <div class="col-md-2">
                                  <label for="object-type">성별</label>
                                  <select class="framed width-100" name="post[gift_gender]">
                                      <option value="">성별선택</option>
                                      <option value="남">남</option>
                                      <option value="여">여</option>
                                  </select>
                                </div>

                                <div class="col-md-2">
                                  <label for="object-type">가격</label>
                                  <select class="framed width-100" name="post[money]">
                                      <option value="">가격대선택</option>
                                      <option value="0 - 0.5">0 - 0.5</option>
                                      <option value="0.5 - 1">0.5 - 1</option>
                                      <option value="1 - 5">1 - 5</option>
                                      <option value="5 - 10">5 - 10</option>
                                      <option value="10+">10+</option>
                                  </select>
                                </div>

                            </div>
                            <!--end row-->
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="form-submit-description">설명<em>*</em></label>
                                        <textarea class="form-control" id="form-submit-description" rows="10" name="post[content]" required="" placeholder=""><%= @post.content%></textarea>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group-inline">
                                      <label for="object-type">기념일</label>
                                      <select class="framed width-100" name="post[anniversary]" id="object-type">
                                          <option value="연인">연인</option>
                                          <option value="친구">친구</option>
                                          <option value="가족">가족</option>
                                          <option value="스승">스승</option>
                                          <option value="생일">생일</option>
                                          <option value="원수">원수</option>
                                      </select><br><br>

                                      <label for="object-type">연령대</label>
                                      <select class="framed width-100" name="post[age_group]" id="object-type">
                                          <option value="유아">유아</option>
                                          <option value="10대">10대</option>
                                          <option value="20대">20대</option>
                                          <option value="30대">30대</option>
                                          <option value="40대">40대</option>
                                          <option value="50대">50대</option>
                                          <option value="60대이상">60대이상</option>
                                      </select><br><br>

                                      <label for="form-submit-description">url</label>
                                      <textarea class="form-control" id="form-submit-description" rows="3" name="post[url]" required="" placeholder="url을 복사해주세요"></textarea>

                                    </div>
                                    <!--end form-group-inline-->
                                </div>
                                <div class="col-md-3">

                                    <!--end checkboxes-->
                                </div>

                                <!--end col-md-5-->
                            </div>
                            <!--end row-->
                            <!--end row-->
                        </section>
                        <section id="gallery">
                            <div class="title">
                                <h2>이미지첨부</h2>
                                <aside class="step">2</aside>
                            </div>
                            <div class="file-upload-previews"></div>
                            <div class="file-upload">
                                <input type="file" name="files[]" class="file-upload-input with-preview" multiple title="Click to add files" maxlength="10" accept="gif|jpg|png">
                                <span>Click to add images</span>
                            </div>
                        </section>
                        <hr>
                        <section>
                            <div class="form-group center">
                                <button type="submit" class="btn btn-primary btn-rounded btn-xlarge">작성하기!</button>
                            </div>
                        </section>
                    </form>
                    <!--end form-->
                </div>
                <!--end main-content-->
            </div>
            <!--end container-->
        </div>




      </form>
      <% end %>

        <!--end page-content-->

        <footer id="page-footer">
            <div class="row-one">
                <div class="container">
                    <div class="logos">
                        <div class="logo">
                            <a href="#"><img src="assets/img/logo-1.png" alt=""></a>
                        </div>
                        <!--/ .logo-->
                        <div class="logo">
                            <a href="#"><img src="assets/img/logo-2.png" alt=""></a>
                        </div>
                        <!--/ .logo-->
                        <div class="logo">
                            <a href="#"><img src="assets/img/logo-3.png" alt=""></a>
                        </div>
                        <!--/ .logo-->
                        <div class="logo">
                            <a href="#"><img src="assets/img/logo-4.png" alt=""></a>
                        </div>
                        <!--/ .logo-->
                        <div class="logo">
                            <a href="#"><img src="assets/img/logo-5.png" alt=""></a>
                        </div>
                        <!--/ .logo-->
                    </div>
                    <!--/ .logos-->
                </div>
            </div>
            <!--end row-one-->
            <div class="row-two clearfix">
                <div class="container">
                    <div class="copyright pull-left">(C) 2016 Your Company, All Rights Reserved</div>
                    <div class="footer-nav pull-right">
                        <a href="index.html">Home</a>
                        <a href="about-us.html">About Us</a>
                        <a href="listing.html">Listing</a>
                        <a href="contact-us.html">Contact Us</a>
                    </div>
                </div>
                <div class="bg-transfer"><img src="assets/img/footer-bg.jpg" alt=""></div>
            </div>
            <!--end row-two-->
        </footer>
        <!--end page-footer-->
    </div>

  </div>


      <a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>


      <script type="text/javascript" src="assets/js/jquery-2.2.1.min.js"></script>
      <script type="text/javascript" src="assets/js/jquery-migrate-1.2.1.min.js"></script>
      <script type="text/javascript" src="assets/js/infobox.js"></script>
      <script type="text/javascript" src="assets/js/markerclusterer_packed.js"></script>
      <script type="text/javascript" src="assets/js/richmarker-compiled.js"></script>
      <script type="text/javascript" src="assets/js/markerwithlabel_packed.js"></script>
      <script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
      <script type="text/javascript" src="assets/js/bootstrap-datepicker.js"></script>
      <script type="text/javascript" src="assets/js/icheck.min.js"></script>
      <script type="text/javascript" src="assets/js/owl.carousel.js"></script>
      <script type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>

      <script type="text/javascript" src="assets/js/maps.js"></script>
      <script type="text/javascript" src="assets/js/custom.js"></script>

      <!--[if lte IE 9]>
      <script src="assets/js/ie.js"></script>
      <![endif]-->

      <script>
          var _latitude = 48.47292127;
          var _longitude = 4.28672791;
          var element = "map-item";
          var useAjax = true;
          bigMap(_latitude,_longitude, element, useAjax);
      </script>

</body>

</html>
